<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        
    <!-- 自动扫描注解 -->
    <context:component-scan base-package="com.zc.service"></context:component-scan>
    <context:annotation-config></context:annotation-config>
    
    <!-- 加载属性文件 -->
    <context:property-placeholder location="classpath:jdbc.properties"/>
 
    <!-- 数据源 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driverClass}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.userName}"></property>
        <property name="password" value="${jdbc.userPwd}"></property>
    </bean>
    
    <!-- 配置SqlSessionFactory 会话工厂对象 -->
    <bean id="facotry" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis.xml"></property>
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.zc.pojo"></property>
    </bean>
    
    <!-- 配置mapper对象，配置文件 -->
    <bean id="mapper" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
         <property name="basePackage" value="com.zc.mapper"></property>
         <property name="sqlSessionFactoryBeanName" value="facotry"></property>
    </bean>
    
    <!-- spring声明式事务 -->
    <!-- 事务管理器 -->
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> 
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    
    <!-- 声明式事务方法 -->
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="add*" propagation="REQUIRED"  isolation="DEFAULT" rollback-for="java.lang.Exception"/>
            <tx:method name="upd*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="java.lang.Exception"/>
            <tx:method name="del*" propagation="REQUIRED" isolation="DEFAULT" rollback-for="java.lang.Exception"/>
            <tx:method name="*" read-only="true"/>  
        </tx:attributes>
    </tx:advice>
    
    <!-- 配置切面：切点+通知 -->
    <aop:config>
       <aop:pointcut expression="execution(* com.zc.service.impl.*.*(..))" id="mypoint"/>
       <aop:advisor advice-ref="txAdvice" pointcut-ref="mypoint"/>
    </aop:config>
    
</beans>